# INSTITUTO NACIONAL DE ANTROPOLOGÍA E HISTORIA
## CIUDAD DE MEXÍCO

---

In [59]:
import os

import numpy as np
import pandas as pd
# import scipy
# import scipy.stats

#import matplotlib.pyplot as plt
#import seaborn as sns

#%matplotlib inline

import calendar

In [60]:
# Path
path = 'C:\\Users\\melen\\Dropbox\\Python\\Reto_Data_Science_INAH\\db'
os.chdir(path)
os.getcwd()

'C:\\Users\\melen\\Dropbox\\Python\\Reto_Data_Science_INAH\\db'

In [61]:
# Reading and load DataBase
df = pd.read_csv('INAH-DB.csv', sep=';', encoding='latin-1')
df.sample(10)

,Estado,Clave SIINAH,Siglas,Centro de trabajo,Año,Mes,Tipo de visitantes,Número de visitas,Nacionalidad
28928,Puebla,2403400.0,M.- M.H,Museo del Valle de Tehuacán,2019,12,Trabajadores INAH,0,Nacional
14737,Guanajuato,2401300.0,M.- M.H,Museo Casa del Dr. José María Luis Mora,2019,3,Discapacitados,7,Nacional
16728,Guerrero,3120026.0,Z.A.,Z.A. de Cuetlajuchitlán (Los Querende),2019,9,Estudiantes nivel básico,10,Nacional
32581,Quintana Roo,3110038.0,Z.A.,Z.A. de Xcaret,2019,5,Trabajadores INAH,0,Nacional
22449,Morelos,3110007.0,Z.A.,Z.A. de Chalcatzingo,2019,5,Estudiantes nivel básico,67,Nacional
9031,Ciudad de México,3120013.0,Z.A.,Z.A. de Cerro de la Estrella,2019,8,Entrada sin costo,0,Extranjeros
36360,Tlaxcala,3110105.0,Z.A.,Z.A. de Xochitécatl con museo de sitio,2019,1,Entrada sin costo,0,Nacional
11686,Estado de México,3110001.0,Z.A.,Z.A. de Acozac,2019,8,Boleto pagado,0,Extranjeros
38561,Veracruz,3220014.0,Z.A.,Z.A. de Las Limas,2019,3,Estudiantes nivel superior,0,Nacional
6454,Chiapas,3110044.0,Z.A.,Z.A. de Yaxchilán,2019,5,Estudiantes nivel superior,509,Nacional

### DataBase General Information

Estado, Clave SIINAH, Centro de trabajo, Año, Mes, Tipo de visitantes, Número de visitas y Nacionalidad.

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42679 entries, 0 to 42678
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Estado              42679 non-null  object
 1   Clave SIINAH        42497 non-null  float64
 2   Siglas              42679 non-null  object
 3   Centro de trabajo   42679 non-null  object
 4   Año                 42679 non-null  int64
 5   Mes                 42679 non-null  int64
 6   Tipo de visitantes  42679 non-null  object
 7   Número de visitas   42679 non-null  object
 8   Nacionalidad        42679 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ MB

### Convert dtypes

In [63]:

dfn = df.convert_dtypes()
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42679 entries, 0 to 42678
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Estado              42679 non-null  string
 1   Clave SIINAH        42497 non-null  Int64
 2   Siglas              42679 non-null  string
 3   Centro de trabajo   42679 non-null  string
 4   Año                 42679 non-null  Int64
 5   Mes                 42679 non-null  Int64
 6   Tipo de visitantes  42679 non-null  string
 7   Número de visitas   42679 non-null  string
 8   Nacionalidad        42679 non-null  string
dtypes: Int64(3), string(6)
memory usage: 3.1 MB

## Párametros Estadísticos

### 1. Totales por Estado por temporalidad (Mes y Año)

In [64]:
# Replace number month to name month
#dfn['Mes'] = dfn['Mes'].apply(lambda x: calendar.month_name[x])

In [65]:
# Converting columns 'Año' and 'Mes' to Categorical type
dfn['Año'] = pd.Categorical(dfn['Año'].apply(str))
dfn['Mes'] = pd.Categorical(dfn['Mes'].apply(str))
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42679 entries, 0 to 42678
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Estado              42679 non-null  string
 1   Clave SIINAH        42497 non-null  Int64
 2   Siglas              42679 non-null  string
 3   Centro de trabajo   42679 non-null  string
 4   Año                 42679 non-null  category
 5   Mes                 42679 non-null  category
 6   Tipo de visitantes  42679 non-null  string
 7   Número de visitas   42679 non-null  string
 8   Nacionalidad        42679 non-null  string
dtypes: Int64(1), category(2), string(6)
memory usage: 2.4 MB

In [69]:
dfn.groupby('Mes').sum()

     Clave SIINAH
Mes
1     10461069866
10    10501629944
11    10501629944
12    10461069892
2     10461069866
3     10461069866
4     10461069866
5     10461069866
6     10461069866
7     10501629944
8     10501629944
9     10501629944